apiVersion: v1
kind: Secret
metadata:
  name: {{ mysql_secret_name }}
  namespace: {{ namespace }}
type: Opaque
stringData:
  mysql-root-password: {{ mysql_root_password }}
  mysql-database: {{ mysql_database }}
  mysql-user: {{ mysql_user }}
  mysql-password: {{ mysql_password }}