apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ wordpress_pvc_name }}
  namespace: {{ namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ wordpress_storage_size }}